h1 {
  font-size: 52px;

  * {
    font-size: inherit;
  }
}

h2 {
  font-size: 36px;

  * {
    font-size: inherit;
  }
}

a:not(.unstyled) {
  color: $color1;

  &:hover {
    text-decoration: underline;
  }
}

.text-primary-1 {
  color: $color1 !important;
}

.text-secondary {
  color: $color2 !important;
}

.btn {
  background: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &.btn-arrow {
    background-color: $color5;
    width: 50px;
    height: 50px;
    display: block;
  }

  &.btn-primary {
    background-color: $color1;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
  }

  &.btn-auth {
    text-align: center;
    min-width: 150px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 30px;
    padding-right: 30px;

    &:hover {
      background-color: $color8;
    }
  }
}

input,
textarea {
  outline: none;
}

.custom-form-control {
  position: relative;
  margin-bottom: 30px;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .pwd-icon {
    position: absolute;
    right: 16px;
    top: calc(16px + 14px + 12px);
    cursor: pointer;
  }

  label {
    display: block;
    margin-bottom: 12px;
    font-size: 12px;
  }

  input {
    display: block;
    border-radius: 5px;
    border: 1px solid $color7;
    padding: 14px 16px;
    display: block;
    width: 100%;

    &::placeholder {
      color: $color6;
    }
  }
}

.custom-checkbox-container {
  display: block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 4px;

    &::after {
      content: "";
      position: absolute;
      display: none;
    }

    &::after {
      left: 6px;
      top: 2px;
      width: 3px;
      height: 7px;
      border: solid white;
      border-width: 0px 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      background-color: $color1;

      &::after {
        display: block;
      }
    }
  }
}

.verification-inputs {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  input {
    max-width: 76px;
    text-align: center;
    margin-right: 10px;
    color: $color6;
    font-weight: 700;
    background-color: $color9;
  }
}

.custom-select-container {
  border-radius: 5px;
  border: 1px solid $color7;

  .selected-text {
    padding: 14px 16px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    margin-right: 17px;
    text-align: left;
  }

  .selected-text::after {
    content: url("../vectors/select-arrow.svg");
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: 0.4s ease;
  }

  .selected-text.active {
    &::after {
      transform: translateY(-50%) rotateX(180deg);
    }
  }

  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    border-radius: 4px;
    left: 0;
    top: 100%;
    border: 1px solid $color7;
    z-index: 1;
    background-color: #fff;
  }

  .select-options {
    position: absolute;
    margin-top: 1px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
  }

  li {
    list-style-type: none;
    padding: 8px 24px;
    cursor: pointer;
    border-radius: 4px;
    text-align: left;
  }

  li:last-child {
    border-bottom: none;
  }

  li:hover {
    // background: $color11;
    background-color: rgba(0, 0, 0, 0.025);
  }

  .show-dropdown-options {
    opacity: 1;
    visibility: visible;
  }

  .hide-dropdown-options {
    min-height: 0;
    opacity: 0;
    visibility: hidden;
  }
}

.mobile-number-input {
  display: flex;
  align-items: flex-start;
  border: 1px solid $color7;
  border-radius: 5px;

  .custom-form-control {
    margin: 0;
  }

  input {
    border: 0;
  }

  .custom-select-container {
    position: relative;
    margin: 0;
    border: none;
    width: 93px;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      background-color: $color7;
      height: 28px;
      width: 1px;
      transform: translateY(-50%);
    }

    .selected-text {
      font-weight: bold;
    }
  }
}
