@import "./colors";
@import "./utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "inter", sans-serif;
  color: $color3;
  font-size: 16px;
  transition: 0.4s ease;
  scroll-behavior: smooth;
}

.dark-overlay {
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;

  &.open {
    opacity: 1;
    pointer-events: all;
  }

  @media screen and (min-width: 1221px) {
    opacity: 0;
    pointer-events: none;
  }
}

.hamburger {
  @media screen and (min-width: 1221px) {
    display: none;
  }
}

.auth-container {
  display: flex;
  height: 100vh;
  min-height: 600px;

  &.signup {
    min-height: 960px;
  }

  & > * {
    width: 50%;
    flex-grow: 0;

    @media screen and (max-width: 991px) {
      &.left {
        width: 45%;
      }

      &.right {
        width: 55%;
      }
    }
  }

  .circles {
    position: absolute;
  }

  .left {
    position: relative;
    background-color: $color1;
    padding: 50px;
    height: 100%;

    @media screen and (min-width: 1600px) {
      padding: 100px;
    }

    @media screen and (max-width: 991px) {
      padding-left: 30px;
      padding-right: 30px;
    }

    @media screen and (max-width: 794px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    display: flex;
    align-items: center;

    .circles {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 24vw;
    }

    .main {
      position: relative;
      z-index: 1;
      background-color: $color4;
      padding: 58px 50px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 16px;
      backdrop-filter: blur(8px);

      @media screen and (max-width: 991px) {
        padding-left: 40px;
        padding-right: 40px;
      }

      @media screen and (max-width: 840px) {
        padding-left: 30px;
        padding-right: 30px;
      }

      * {
        color: #fff;
      }

      img {
        margin-top: 50px;
        // height: 42vh;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-height: 890px) {
          max-height: 400px;
        }

        @media screen and (max-height: 800px) {
          max-height: 330px;
        }

        @media screen and (max-width: 1440px) {
          max-width: 300px;
        }

        @media screen and (max-width: 1023px) {
          max-width: 250px;
        }

        @media screen and (max-width: 991px) {
          max-width: 200px;
        }
      }

      h1 {
        max-width: 480px;

        @media screen and (max-width: 1350px) {
          font-size: 40px;
        }

        @media screen and (max-width: 1130px) {
          font-size: 34px;
        }

        @media screen and (max-width: 1030px) {
          font-size: 30px;
        }

        @media screen and (max-width: 920px) {
          font-size: 26px;
        }

        // @media screen and (max-width: 874px) {
        //   font-size: 22px;
        // }

        // @media screen and (max-width: 800px) {
        //   font-size: 18px;
        // }
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;

    @media screen and (max-width: 1100px) {
      padding-left: 30px;
      padding-right: 30px;
    }

    .circles {
      right: 0;
      top: 0;
      width: 23vw;
    }

    .main {
      width: 100%;
      max-width: 560px;
      margin-left: auto;
      margin-right: auto;

      h2 {
        margin-top: 60px;

        @media screen and (max-width: 991px) {
          font-size: 30px;
        }
      }

      .form {
        margin: 50px 0 0;
      }
    }

    .bottom {
      margin-top: 50px;
    }

    &.signup {
      h2 {
        margin-top: 30px;
      }
    }
  }
}

.project-creation-container {
  max-width: 1284px;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }

  .main {
    margin-top: 40px;
    border-radius: 10px;
    background-color: $color12;

    .left {
      width: 400px;
      height: 100%;
      padding: 30px;
      flex-shrink: 0;
      float: left;

      @media screen and (max-width: 991px) {
        width: 230px;
      }

      .steps {
        padding-bottom: 50px;
        border-bottom: 1px solid $color7;

        .step {
          margin-bottom: 50px;
          display: flex;
          align-items: center;
          cursor: pointer;

          .img {
            position: relative;
            background-color: $color7;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
            border: 1px solid transparent;

            &::after {
              content: "";
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              top: calc(100% + 10px);
              height: 30px;
              width: 1px;
              background-color: $color7;
            }

            img {
              filter: invert(41%) sepia(2%) saturate(1910%) hue-rotate(189deg)
                brightness(101%) contrast(74%);
            }
          }

          &:last-of-type {
            margin-bottom: 0;

            .img {
              &::after {
                display: none;
              }
            }
          }

          .text {
            font-weight: 600;
            color: $color6;
          }

          &.active {
            .img {
              background-color: $color1;

              img {
                filter: invert(99%) sepia(0%) saturate(348%) hue-rotate(268deg)
                  brightness(114%) contrast(100%);
              }
            }

            .text {
              color: $color3;
            }
          }

          &.done {
            .img {
              background-color: transparent;
              border-color: $color1;

              img {
                filter: invert(76%) sepia(17%) saturate(4174%)
                  hue-rotate(335deg) brightness(96%) contrast(89%);
              }
            }

            .text {
              color: $color1;
            }
          }
        }
      }

      .tip {
        padding-top: 30px;

        a {
          margin-top: 10px;
          font-weight: 600;
        }
      }
    }

    .right {
      flex-grow: 1;
      padding: 50px;
      background-color: $color9;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 732px;

      .btn {
        margin-top: 40px;
      }

      .sub-section {
        margin-bottom: 50px;

        &:last-of-type {
          margin-bottom: 0px;
        }

        h3 {
          margin-bottom: 30px;
        }
      }

      .tools {
        .tools-main {
          border: 1px solid $color7;
          border-radius: 5px;
          padding-bottom: 10px;
          margin-top: 10px;

          .tools-main-title,
          .tools-section-title {
            padding-top: 20px;
            padding-bottom: 20px;
          }

          .tools-main-title {
            background-color: $color13;
            padding-left: 20px;
          }

          .tools-section-title,
          .tools-section-item {
            padding-left: 46px;
            padding-right: 46px;
          }

          .tools-section-title {
            background-color: $color11;
          }

          .tools-section-item {
            padding-top: 10px;
            padding-bottom: 10px;

            &,
            * {
              cursor: grab;

              &:active {
                cursor: grabbing;
              }
            }
          }
        }
      }

      .directory {
        .info {
          background-color: $color11;
          padding: 12px 16px;
          border-radius: 5px;
          margin-top: 24px;
          margin-bottom: 30px;
        }

        .table-container {
          border: 1px solid $color7;
          border-radius: 10px;
          width: 100%;
        }

        table {
          width: 100%;
          border-collapse: collapse;
          min-width: 710px;
          word-break: break-word;
          table-layout: fixed;

          thead {
            background-color: $color11;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }

          tr {
            th,
            td {
              padding: 12px;
            }

            th {
              text-align: left;
              font-size: 11px;
            }

            td {
              color: $color6;
              font-size: 10px;

              &:last-child {
                text-align: right;
                padding-left: 24px;
                padding-right: 24px;
              }
            }
          }
        }
      }
    }
  }
}

.listing-container {
  height: 100vh;

  & > * {
    height: 100%;
  }

  .table-container {
    border: 1px solid $color7;
    border-radius: 10px;

    table {
      border-collapse: collapse;
      width: 100%;

      th,
      td {
        font-size: 14px;
      }

      thead {
        tr {
          background-color: $color17;

          th {
            padding: 13px 10px;
            text-align: left;
          }
        }
      }

      tbody {
        tr {
          td {
            padding: 13px 10px;
          }

          &:nth-child(even) {
            background-color: $color9;
          }
        }
      }
    }
  }

  .grid {
    .grid-card {
      position: relative;
      border: 1px solid $color7;
      border-radius: 10px;
      padding: 30px;
      display: flex;
      align-items: flex-start;
      height: 100%;

      @media screen and (max-width: 1800px) {
        padding-left: 15px;
        padding-right: 15px;
      }

      img {
        width: 100px;
        height: 100px;

        @media screen and (max-width: 1905px) {
          width: 75px;
          height: 75px;
        }

        @media screen and (max-width: 1800px) {
          width: 50px;
          height: 50px;
        }
      }

      h4 {
        position: relative;
        display: inline-block;
        width: fit-content;
        padding-right: 26px;

        .tag {
          position: absolute;
          top: -10px;
          // right: -26px;
          right: 0;
          width: 20px;
          height: 20px;
          color: #fff;
          background-color: $color1;
          font-size: 10px;
          font-weight: 600;
          border-radius: 50%;
          text-align: center;
          line-height: 2;
        }
      }

      img {
        margin-right: 1rem;
      }

      .badge {
        position: absolute;
        top: 0;
        left: 0;
        border-top-left-radius: 10px;
      }
    }
  }

  .laptop {
    .laptop-card {
      border-radius: 10px;
      border: 1px solid $color7;
      margin-bottom: 10px;

      h4 {
        padding: 10px 20px;
        background-color: $color9;
      }

      .body {
        display: flex;
        padding: 20px;

        @media screen and (max-width: 1760px) {
          flex-direction: column;
        }

        .details {
          position: relative;
          display: flex;
          padding-right: 30px;

          @media screen and (min-width: 1899px) {
            width: 418px;
          }

          &::after {
            position: absolute;
            content: "";
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            height: calc(100% - 8px);
            border-right: 1px solid $color7;

            @media screen and (max-width: 1760px) {
              display: none;
            }
          }

          .text {
            & > div {
              display: flex;
              margin-bottom: 10px;

              .left {
                width: 70px;
                margin-right: 10px;
              }
            }
          }
        }

        .stats {
          flex-grow: 1;

          @media screen and (min-width: 1761px) {
            padding-left: 30px;
          }

          @media screen and (max-width: 1760px) {
            margin-top: 20px;
          }

          .progress {
            height: 10px;
            width: 100%;
            border-radius: 20px;
            overflow: hidden;

            .progress-bar {
              height: 100%;
              background-color: $color20;
            }
          }

          .legend {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 30px;

            .item {
              display: flex;
              align-items: center;

              .clr {
                border-radius: 4px;
                width: 20px;
                height: 20px;
                display: inline-block;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }

  & > .left {
    width: 258px;
    flex-shrink: 0;
    background-color: $color15;
    float: left;

    @media screen and (max-width: 1399px) {
      width: 200px;
    }

    @media screen and (max-width: 1220px) {
      position: fixed;
      z-index: 5;
      left: -258px;

      &.open {
        left: 0;
      }
    }

    .header {
      padding: 15px 20px;
      border-bottom: 1px solid $color7;
      height: 100px;

      img {
        width: 100%;
      }
    }

    .body {
      padding: 20px;
      border-bottom: 1px solid $color7;
    }

    .foot {
      padding: 20px;
    }
  }

  .right {
    flex-grow: 1;

    .head {
      padding: 30px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $color7;

      .settings-btn {
        background-color: $color15;
        width: 50px;
        height: 50px;
        border-radius: 4px;
        border: none;
        margin-right: 10px;
        flex-shrink: 0;

        @media screen and (max-width: 1500px) {
          width: 30px;
          height: 30px;
        }

        img {
          width: 18px;
        }
      }

      @media screen and (max-width: 1439px) {
        padding-left: 15px;
        padding-right: 15px;
      }

      .nav {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-left: 0.5rem;

        & > * {
          margin: 0 15px;

          @media screen and (max-width: 1250px) {
            margin: 0 5px;
          }
        }
        .options {
          margin: 0;

          & > * {
            margin: 0 15px;
            cursor: pointer;

            @media screen and (max-width: 1250px) {
              margin: 0 5px;
            }
          }
        }

        .input-card {
          width: 180px;
          background-color: $color9;
        }
      }
    }

    & > .body {
      & > .container-fluid > {
        .row {
          & > * {
            height: calc(100vh - 100px - 64px);
            overflow-y: auto;
            @extend %vertical-scrollbar;

            @media screen and (min-width: 1500px) {
              &.col-lg-8 {
                width: 70%;
              }

              &.col-lg-4 {
                width: 30%;
              }
            }
          }
        }
      }

      .body-main {
        padding: 30px;

        @media screen and (max-width: 1439px) {
          padding-left: 15px;
          padding-right: 15px;
        }

        .top {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid $color7;
          padding-bottom: 30px;

          @media screen and (max-width: 1499px) {
            flex-direction: column;

            & > * {
              margin: 10px 0;
            }
          }
        }

        .main {
          padding-top: 30px;
        }

        .section {
          margin-bottom: 30px;

          .section-title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h4 {
              font-size: 20px;
            }
          }
        }

        .filter {
          display: flex;
          justify-content: space-between;
          align-items: center;

          @media screen and (max-width: 1499px) {
            flex-direction: column;

            & > * {
              margin: 5px 0;
            }
          }

          .search {
            display: flex;
            align-items: center;

            @media screen and (max-width: 1299px) {
              flex-direction: column;
              & > * {
                margin: 10px 0;
              }
            }

            & > * {
              margin-right: 20px;
            }
          }

          .more-filters {
            display: flex;
            align-items: center;

            & > * {
              margin-left: 10px;
              cursor: pointer;
            }

            img {
              filter: invert(55%) sepia(1%) saturate(2134%) hue-rotate(206deg)
                brightness(76%) contrast(84%);

              &.active {
                filter: invert(63%) sepia(88%) saturate(977%) hue-rotate(339deg)
                  brightness(100%) contrast(82%);
              }
            }
          }
        }
      }

      .logs-container {
        background-color: $color9;
        height: 100%;
        padding: 20px;

        .main-title {
          display: flex;
          justify-content: space-between;
          align-items: center;

          @media screen and (max-width: 1199px) {
            flex-direction: column;
            align-items: flex-start;

            & > * {
              margin: 10px 0;
            }
          }
        }

        .log-items {
          margin-top: 20px;

          .log-item {
            border-radius: 4px;
            background-color: #fff;
            padding: 1rem;
            margin-bottom: 5px;

            .desc {
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}

.footer {
  background-color: $color9;
  border-top: 1px solid $color7;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
  color: $color6;
  font-size: 14px;
  height: 64px;
}

.portfolio {
  .table-container {
    table {
      min-width: 987px;

      tbody {
        td {
          padding-top: 25px;
          padding-bottom: 25px;
        }
      }
    }

    tr {
      td {
        &:nth-child(3) {
          width: 180px;
        }

        &:nth-child(4) {
          min-width: 105px;
        }

        &:nth-child(8) {
          width: 180px;
        }
      }
    }
  }
}

.project {
  table.team {
    min-width: 995px;
  }

  table.open-items {
    min-width: 1100px;
  }

  .card {
    .chart-container {
      position: relative;
      margin-top: 20px;

      &::after {
        position: absolute;
        content: "";
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%, -50%);
        left: 20px;
        top: 20px;
        bottom: 20px;
        right: 20px;
        background-color: #fff;
        border-radius: 50%;
      }
    }

    .do-legend {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      & > * {
        margin-right: 0.5rem;

        &:last-child {
          margin-right: 0;
        }
      }

      .clr {
        width: 20px;
        height: 20px;
        border-radius: 4px;
      }

      .text {
        font-size: 13px;
        margin-top: 8px;
      }

      .overdue {
        .clr {
          background-color: $color20;
        }
      }

      .nextSeven {
        .clr {
          background-color: $color21;
        }
      }

      .greaterThanSeven {
        .clr {
          background-color: $color22;
        }
      }
    }
  }
}

.meetings {
  table.meetings {
    tbody {
      td {
        &:nth-child(1) {
          min-width: 180px;
        }

        &:nth-child(2) {
          min-width: 60px;
        }

        &:nth-child(3) {
          min-width: 460px;
        }

        &:nth-child(4) {
          min-width: 110px;
        }

        &:nth-child(5) {
          min-width: 120px;
        }

        &:nth-child(6) {
          min-width: 140px;
        }

        &:nth-child(7) {
          min-width: 100px;
        }

        &:nth-child(8) {
          min-width: 90px;
        }

        &:nth-child(9) {
          min-width: 90px;
        }

        &:nth-child(10) {
          min-width: 130px;
        }
      }
    }
  }
}

.create-meeting {
  .form {
    max-width: 650px;

    label {
      margin-bottom: 4px;
    }

    input,
    select,
    .custom-select-container {
      background-color: $color9 !important;
    }

    .calender {
      top: 30px;
    }
  }
}

.daily-log,
.daily-log-calender {
  .top {
    min-height: 86px;
  }
}

.daily-log {
  .card-head {
    @media screen and (max-width: 1099px) {
      flex-direction: column;

      .cal-nav {
        margin-top: 10px;
      }
    }
  }

  & > .body {
    .body-main {
      .top {
        flex-direction: row !important;
        border: 0 !important;
      }
    }
  }

  table {
    input,
    .selected-text {
      background-color: $color9;
    }

    label {
      display: flex;
      align-items: center;
      cursor: pointer;

      .clip {
        margin-right: 10px;
      }

      .text {
        font-size: 14px;
        color: $color1;
        text-decoration: underline;
      }
    }

    tr {
      td {
        &:nth-child(1) {
          min-width: 240px;
        }

        &:nth-child(2) {
          min-width: 120px;
        }

        &:nth-child(3) {
          min-width: 120px;
        }

        &:nth-child(4) {
          min-width: 120px;
        }

        &:nth-child(5) {
          min-width: 240px;
        }

        &:nth-child(6) {
          min-width: 240px;
        }

        &:nth-child(7) {
          min-width: 256px;
        }
      }
    }
  }
}

.daily-log-calender {
  .calender-container {
    display: flex;
    border: 1px solid $color7;
    border-radius: 10px;

    .calender-left > .header,
    .calender-right {
      padding: 30px;
    }

    .calender-left {
      flex-grow: 1;
      border-right: 1px solid $color7;
    }

    .calender-right {
      width: 480px;
      flex-shrink: 0;

      .collapse {
        margin-bottom: 5px;

        .collapse-title {
          background-color: $color9;
          padding: 24px 20px;
          border-radius: 4px;

          h4 {
            font-size: 14px;
          }
        }

        .collapse-body {
          padding: 24px 20px;
        }
      }
    }
  }
}
