@import "./colors";
@import "./utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "inter", sans-serif;
  color: $color3;
  font-size: 16px;
  transition: 0.4s ease;
}

.auth-container {
  display: flex;
  height: 100vh;
  min-height: 1030px;

  & > * {
    width: 50%;
    flex-grow: 0;
  }

  .circles {
    position: absolute;
  }

  .left {
    position: relative;
    background-color: $color1;
    padding: 50px;
    height: 100%;

    @media screen and (min-width: 1600px) {
      padding: 100px;
    }

    display: flex;
    align-items: center;

    .circles {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .main {
      position: relative;
      z-index: 1;
      background-color: $color4;
      padding: 58px 50px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 16px;
      backdrop-filter: blur(8px);
      // height: 100%;
      // display: flex;
      // flex-direction: column;
      // align-items: center;

      * {
        color: #fff;
      }

      img {
        margin-top: 50px;
        width: 100%;
      }

      h1 {
        max-width: 480px;

        @media screen and (max-width: 1350px) {
          font-size: 40px;
        }

        @media screen and (max-width: 1130px) {
          font-size: 34px;
        }

        @media screen and (max-width: 1030px) {
          font-size: 30px;
        }

        @media screen and (max-width: 950px) {
          font-size: 26px;
        }

        @media screen and (max-width: 874px) {
          font-size: 22px;
        }

        @media screen and (max-width: 800px) {
          font-size: 18px;
        }
      }
    }
  }

  .right {
    margin-top: 120px;
    padding-left: 60px;
    padding-right: 60px;

    .circles {
      right: 0;
      top: 0;
    }

    .main {
      max-width: 560px;
      margin-left: auto;
      margin-right: auto;

      h2 {
        margin-top: 130px;

        @media screen and (max-width: 991px) {
          font-size: 30px;
        }
      }

      .form {
        margin: 50px 0;
      }
    }

    .bottom {
      margin-top: 50px;
    }

    &.signup {
      h2 {
        margin-top: 30px;
      }
    }
  }
}
