@import "./colors";
@import "./utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "inter", sans-serif;
  color: $color3;
  font-size: 16px;
  transition: 0.4s ease;
}

.auth-container {
  display: flex;
  height: 100vh;
  min-height: 600px;

  &.signup {
    min-height: 960px;
  }

  & > * {
    width: 50%;
    flex-grow: 0;

    @media screen and (max-width: 991px) {
      &.left {
        width: 45%;
      }

      &.right {
        width: 55%;
      }
    }
  }

  .circles {
    position: absolute;
  }

  .left {
    position: relative;
    background-color: $color1;
    padding: 50px;
    height: 100%;

    @media screen and (min-width: 1600px) {
      padding: 100px;
    }

    @media screen and (max-width: 991px) {
      padding-left: 30px;
      padding-right: 30px;
    }

    @media screen and (max-width: 794px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    display: flex;
    align-items: center;

    .circles {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 24vw;
    }

    .main {
      position: relative;
      z-index: 1;
      background-color: $color4;
      padding: 58px 50px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 16px;
      backdrop-filter: blur(8px);
      // height: 100%;
      // display: flex;
      // flex-direction: column;
      // align-items: center;

      @media screen and (max-width: 991px) {
        padding-left: 40px;
        padding-right: 40px;
      }

      @media screen and (max-width: 840px) {
        padding-left: 30px;
        padding-right: 30px;
      }

      * {
        color: #fff;
      }

      img {
        margin-top: 50px;
        // height: 42vh;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-height: 890px) {
          max-height: 400px;
        }

        @media screen and (max-height: 800px) {
          max-height: 330px;
        }

        @media screen and (max-width: 1440px) {
          max-width: 300px;
        }

        @media screen and (max-width: 1023px) {
          max-width: 250px;
        }

        @media screen and (max-width: 991px) {
          max-width: 200px;
        }
      }

      h1 {
        max-width: 480px;

        @media screen and (max-width: 1350px) {
          font-size: 40px;
        }

        @media screen and (max-width: 1130px) {
          font-size: 34px;
        }

        @media screen and (max-width: 1030px) {
          font-size: 30px;
        }

        @media screen and (max-width: 920px) {
          font-size: 26px;
        }

        // @media screen and (max-width: 874px) {
        //   font-size: 22px;
        // }

        // @media screen and (max-width: 800px) {
        //   font-size: 18px;
        // }
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;

    @media screen and (max-width: 1100px) {
      padding-left: 30px;
      padding-right: 30px;
    }

    .circles {
      right: 0;
      top: 0;
      width: 23vw;
    }

    .main {
      width: 100%;
      max-width: 560px;
      margin-left: auto;
      margin-right: auto;

      h2 {
        margin-top: 60px;

        @media screen and (max-width: 991px) {
          font-size: 30px;
        }
      }

      .form {
        margin: 50px 0 0;
      }
    }

    .bottom {
      margin-top: 50px;
    }

    &.signup {
      h2 {
        margin-top: 30px;
      }
    }
  }
}
