h1 {
  font-size: 52px;
}

h1 * {
  font-size: inherit;
}

h2 {
  font-size: 36px;
}

h2 * {
  font-size: inherit;
}

a:not(.unstyled) {
  color: #e79436;
}

a:not(.unstyled):hover {
  text-decoration: underline;
}

.text-primary-1 {
  color: #e79436 !important;
}

.text-secondary {
  color: #7e2a23 !important;
}

.btn {
  background: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn.btn-arrow {
  background-color: #fff2d9;
  width: 50px;
  height: 50px;
  display: block;
}

.btn.btn-primary {
  background-color: #e79436;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.btn.btn-auth {
  text-align: center;
  min-width: 150px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn.btn-auth:hover {
  background-color: #ca822f;
}

input,
textarea {
  outline: none;
}

.custom-form-control {
  position: relative;
  margin-bottom: 30px;
  /* Firefox */
}

.custom-form-control input::-webkit-outer-spin-button,
.custom-form-control input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-form-control input[type="number"] {
  -moz-appearance: textfield;
}

.custom-form-control .pwd-icon {
  position: absolute;
  right: 16px;
  top: calc(16px + 14px + 12px);
  cursor: pointer;
}

.custom-form-control label {
  display: block;
  margin-bottom: 12px;
  font-size: 12px;
}

.custom-form-control input {
  display: block;
  border-radius: 5px;
  border: 1px solid #dedee4;
  padding: 14px 16px;
  display: block;
  width: 100%;
}

.custom-form-control input::-webkit-input-placeholder {
  color: #6e7077;
}

.custom-form-control input:-ms-input-placeholder {
  color: #6e7077;
}

.custom-form-control input::-ms-input-placeholder {
  color: #6e7077;
}

.custom-form-control input::placeholder {
  color: #6e7077;
}

.custom-checkbox-container {
  display: block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.custom-checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 4px;
}

.custom-checkbox-container .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox-container .checkmark::after {
  left: 6px;
  top: 2px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0px 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox-container input:checked ~ .checkmark {
  background-color: #e79436;
}

.custom-checkbox-container input:checked ~ .checkmark::after {
  display: block;
}

.verification-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.verification-inputs input {
  max-width: 76px;
  text-align: center;
  margin-right: 10px;
  color: #6e7077;
  font-weight: 700;
  background-color: #f9f9f9;
}

.custom-select-container {
  border-radius: 5px;
  border: 1px solid #dedee4;
}

.custom-select-container .selected-text {
  padding: 14px 16px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  margin-right: 17px;
  text-align: left;
}

.custom-select-container .selected-text::after {
  content: url("../vectors/select-arrow.svg");
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.custom-select-container .selected-text.active::after {
  -webkit-transform: translateY(-50%) rotateX(180deg);
          transform: translateY(-50%) rotateX(180deg);
}

.custom-select-container ul {
  margin: 0;
  padding: 0;
  text-align: center;
  border-radius: 4px;
  left: 0;
  top: 100%;
  border: 1px solid #dedee4;
  z-index: 1;
  background-color: #fff;
}

.custom-select-container .select-options {
  position: absolute;
  margin-top: 1px;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.custom-select-container li {
  list-style-type: none;
  padding: 8px 24px;
  cursor: pointer;
  border-radius: 4px;
  text-align: left;
}

.custom-select-container li:last-child {
  border-bottom: none;
}

.custom-select-container li:hover {
  background-color: rgba(0, 0, 0, 0.025);
}

.custom-select-container .show-dropdown-options {
  opacity: 1;
  visibility: visible;
}

.custom-select-container .hide-dropdown-options {
  min-height: 0;
  opacity: 0;
  visibility: hidden;
}

.mobile-number-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 1px solid #dedee4;
  border-radius: 5px;
}

.mobile-number-input .custom-form-control {
  margin: 0;
}

.mobile-number-input input {
  border: 0;
}

.mobile-number-input .custom-select-container {
  position: relative;
  margin: 0;
  border: none;
  width: 93px;
}

.mobile-number-input .custom-select-container::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  background-color: #dedee4;
  height: 28px;
  width: 1px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.mobile-number-input .custom-select-container .selected-text {
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "inter", sans-serif;
  color: #1f1f1f;
  font-size: 16px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.auth-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  min-height: 1030px;
}

.auth-container > * {
  width: 50%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.auth-container .circles {
  position: absolute;
}

.auth-container .left {
  position: relative;
  background-color: #e79436;
  padding: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1600px) {
  .auth-container .left {
    padding: 100px;
  }
}

.auth-container .left .circles {
  position: absolute;
  bottom: 0;
  left: 0;
}

.auth-container .left .main {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 58px 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.auth-container .left .main * {
  color: #fff;
}

.auth-container .left .main img {
  margin-top: 50px;
  width: 100%;
}

.auth-container .left .main h1 {
  max-width: 480px;
}

@media screen and (max-width: 1350px) {
  .auth-container .left .main h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 1130px) {
  .auth-container .left .main h1 {
    font-size: 34px;
  }
}

@media screen and (max-width: 1030px) {
  .auth-container .left .main h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 950px) {
  .auth-container .left .main h1 {
    font-size: 26px;
  }
}

@media screen and (max-width: 874px) {
  .auth-container .left .main h1 {
    font-size: 22px;
  }
}

@media screen and (max-width: 800px) {
  .auth-container .left .main h1 {
    font-size: 18px;
  }
}

.auth-container .right {
  margin-top: 120px;
  padding-left: 60px;
  padding-right: 60px;
}

.auth-container .right .circles {
  right: 0;
  top: 0;
}

.auth-container .right .main {
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
}

.auth-container .right .main h2 {
  margin-top: 130px;
}

@media screen and (max-width: 991px) {
  .auth-container .right .main h2 {
    font-size: 30px;
  }
}

.auth-container .right .main .form {
  margin: 50px 0;
}

.auth-container .right .bottom {
  margin-top: 50px;
}

.auth-container .right.signup h2 {
  margin-top: 30px;
}
/*# sourceMappingURL=styles.css.map */